/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
 	h1{
 		color: red;
 	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	h1{
		color: black;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1{
		color: yellow;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1{
		color: orange;
	}
}

/*X-Large devices (large desktop, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	h1{
		color: green;
	}
}

/*XX-Large devices (larger desktop, 1400px and up) */
@media (min-width: 1400px) {
	h1{
		color: blue;
	}
}